:root {
  --main-color: rgb(118, 118, 235);
  --title-color: white;
  --border-color: rgb(47, 47, 161);

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  display: grid;
  place-items: center;
}

.App {
  max-width: 600px;
  height: 600px;
  padding-top: 10vh;
  background-color: var(--main-color);
  text-align: center;
  border: 3px red solid;
}
h1, h2 {
  color: var(--title-color);
  display: block;
}
h1 {
  padding-bottom: 5vh;
  font-size: 60px;
}
#adjustments {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
 }
#break-box, #session-box {
  flex-basis: 1;
  width: 300px;
  height: 100px;
  margin: auto;
  background-color: var(--main-color);
  border-radius: 30px;
  border: 5px var(--border-color) solid;
}
.toolbox {
  display: flex;
  flex-flow: row nowrap;
  width: 30vw;
  height: 40px;
  justify-content: center;
}
 #session-length, #break-length {
  flex-basis: 1;
  width: 10%;
  height: 100%;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#session-decrement, #session-increment, #break-decrement, #break-increment {
  flex-basis: 1;
  width: 10%;
  height: 100%;
}

.icon {
  font-size: 30px;
  color: var(--title-color);
  opacity: 1;
}
.btn .icon:hover {
  font-size: 36px;
}

.btn:disabled .icon {
  color: red;
  cursor: not-allowed;
}

#break-length, #session-length {
  font-size: 30px;
  color: var(--title-color);
}
#author {
  color: var(--border-color)
}

