#timer {
    width: 30vw;
    height: 25vh;
    margin: 0 auto;
    background-color: var(--main-color);
    border-radius: 30px;
    border: 5px var(--border-color) solid;
}

#timer-label {
    color: var(--title-color);
    font-size: 3rem;
}
#time-left {
    color: var(--title-color);
    font-size: 3rem;
}

#start_stop, #reset {
    background-color: aqua;
    
}

